# Local Development Environment Variables
# Copy this file to .env and fill in your values

# MySQL
MYSQL_ROOT_PASSWORD=
AUTH_DB_PASS=
ACCOUNT_DB_PASS=
TRANSACTION_DB_PASS=

# MongoDB
MONGODB_ADMIN_USER=
MONGODB_ADMIN_PASS=

# JWT
JWT_SECRET=

# Mailtrap
MAIL_USERNAME=
MAIL_PASSWORD=
