# IDEs
.idea/
*.iml
*.iws
*.ipr

# Operating System Files
.DS_Store
Thumbs.db

# Build
build/
.gradle/
target/
out/

# Application Specific
**/application-local.properties
init-db.sh
init-mongo.js
docker-compose-infra.yml
*.env.example
implementation_guide.md